*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: unset;
    font-style: oblique;
    background-color: #733939;
}

.header-menu {
    width: 100%;
}
.header-menu ul {
    display: flex;
    margin-top: 1px;
    margin-left: 12px;
    list-style: none;
    align-items: center;
}

.SUSI {
    background-color: #733939;
    color: white;
    text-decoration: none;
}

.button {
    font-size: 50px;
    width: 305px;
    height: 133px;
    border: 0;
    border-radius: 128px;
    cursor: pointer;
}

.button-sign {
    width: 669px;
    height: 133px;
    font-size: 36px;
    border: 0;
    border-radius: 128px;
    cursor: pointer;
    margin-left: 59px;
    margin-right: 128px;
}

.line {
    width: 80px;
    height: 15px;
    border-radius: 128px;
    background-color: #ffffff;
}

.margin-6 {
    margin-top: 6px;
    margin-bottom: 7px;
}

.flex__img{
    margin-top: 50px;
    width: 482px;
    height: 381px;
    background-color: rgb(255, 255, 255);
    border-radius: 44px;
    margin-left: 180px;

}

.flex-container {
    display: flex;
    margin-left: 33px;
    margin-right: 24px;
    margin-top: 80px;
}

.flex-item {
    display: flex;
    flex-direction: column;
}

.name {
    width: 288px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 32px;
    text-align: center;
    align-content: center;
    margin-top: 185px;
    color: #000000;
   
}

.name2 {
    width: 288px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 32px;
    text-align: center;
    align-content: center;
    margin: 35px 0;
    margin-top: 365px;
    color: black;
}

.name3 {
    width: 288px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 44px;
    font-size: 32px;
    text-align: center;
    align-content: center;
    margin-top: 330px;
    color: #000000;
}

.margin-450 {
    margin-left: 200px;
}
.laik{
    margin-left: 20px;
    width: 1400px; 
    
}
@media (max-width: 1440px  ) {
    .line{
        margin-right: 300px;
    }
}
@media (max-width: 1024px) {
    .flex-container{
        margin-left: -150px;
    }
    .line{
        margin-left: 400px;
    }

}
@media (max-width: 768px) {
    .line{
        margin-left: 200px;
    }
    .flex__img{
        width: 360px;
        height: 300px;
    }
    .margin-450 {
    margin-left: 50px;
}
    .name{
        margin-top: 140px;
    }
    .name2{
        margin-top: 290px;
    }
    .name3{
        margin-top: 250px;
    }
}